h1 = "MachineManager"

h2 = "どんなアプリか一言で"
| 自店のパチンコ、スロットの管理に特化した在庫管理アプリ
hr/

h2 = "何でこのアプリを作りたいのか"
| パチンコ台やスロット台にはそれぞれ管理番号みたいなものがあります。
br/  
| その管理番号が必要なシーンは沢山あります。  

p = "例えば…"
ul
  li = "店から店に台を移管する時"
  li = "台を店舗に設置する時"
  li = "その台の部品を発注する時"
  li = "その台を撤去する時"
  li = "その台を下取りに出す時"
  
p =  "他にもありますが少なくとも上記の際にはパチンコ台やスロット台の管理番号が必要です。"

p =  "そしてその台の管理番号がまた長いんです。"

p =  "例えば"

p =  "SY-G-A 090292"

p =  "とかです。"

p =  "長いですよね。こんな番号が１台１台にUNIQUEに振り分けられています。"
hr/
h2 = "これは多分業界あるある"

p =  "ではここでほんの1例を紹介します。"
p =  "例えば設置したいパチンコ台があるとしてそのパチンコ台を倉庫に探しに行くとします。"
p =  "ここで言い忘れていた事があります  "
p =  "先程紹介した管理番号の  SY-G-A 090292"  
p =  "の様な長ったらしい管理番号ですが"
p =  "パチンコ台には３つ、スロット台には２つ(３つの場合もある)あります。"
p = "まじか。。。"
hr/
h3 = "さらに！"

p = "そんな長ったらしい番号が書いてある台は台倉庫と呼ばれる台を保管する倉庫に眠っています。"
p = "そしてその倉庫は店舗内に複数ある事もあります。"
p = "そして在庫が多ければ多い程倉庫内は歩くスペースが無いほどに、探している台どこだよって感じになって徐々にやる気を削いでいきます。"  
p = "倉庫のはしごはざらです。"
hr/
h3 = "そしてそして！"

p = "台を掻き分けて(台１台４０kg以上はある)やっと倉庫でお目当ての台を見つけました。"  
p = "夏だとワイシャツ絞ったら水出てきます。"

hr/
h3 = "ここで絶望的な真実があります。"  
p = "その管理番号は台の下の方にあるんです。"
p = "何が言いたいかというと"
p = "毎回土下座みたいなポーズで台の管理番号を調べるんですね。目視で。"  
p = "いや目視大事ですけど。"
p = "台がしき詰まってると土下座ポーズを取る事すら困難です。"  
p = "ストレス指数９８％"
hr/
h3 = "いよいよ！"

p =  "ここまで来るとあとは倉庫を出るだけです。"
p =  "ふと自分を鏡で見ると"
p =  "ヨレヨレのワイシャツ" 
p =  "倉庫で膝ついたからスーツの膝汚い"  
p =  "顔汗だく"  
p =  "髪の毛ボサボサ"  
p =  "あ〜何やってんだろうってなります。"
hr/
h3 = "最後に…"

p = "事務所に戻ってくると上司から"
p = "『この台も使うから番号確認しといて！』"  
p = "とまた倉庫に向かうのです。"

br/

p = "台の管理番号欲しさや台の状況確認でこんな経験をした人は沢山いると思います。"  
p = "大手さんはそんな事無いと思いたいですが。。。"
hr/
h3 = "このアプリで実現したい事"
p = "長くなりましたが本題です。"

h3 = "課題"
ol
  li =  "わざわざ見に行かなくても良い様にすれば良いんじゃない？"
  li =  "見に行ったとしても倉庫のどこにあるか分かれば良いんじゃない？"
  li =  "前もって番号分かってれば楽じゃない？"
  li =  "在庫の台が故障してるか前もって分かってれば楽じゃない？"
  li =  "その台認定取ってる？ってのが分かれば楽じゃない？"
  li =  "台の捜索に１時間掛けるってどうなの？"

p = "これを一辺に実行、解決出来るアプリを作りたい"  
hr/
h3 = "具体的に何を管理するのか"
ol 
  li = "保管台の有無"
  li = "それぞれの保管台の台数"
  li = "メーカー名"
  li = "セル番号"
  li = "枠番号"
  li = "基盤番号"
  li = "保管台のある場所"
  li = "保管台の状況(故障しているかいないか)"

p = "管理する項目はこの辺りで追加する可能性もあるがこの辺を抑えておけばスムーズに管理出来る気がします。"
hr/
h3 = "幸せにしたい人"
ol
  li = "パチンコ店の管理職"
  li = "なるべく汗だくになりたくない人"
  li = "倉庫のはしごをしたくない人"
  li = "スーツの膝を汚したくない人"
  li = "台倉庫がめちゃくちゃな店舗にいる人"
  li = "ワンクリックで台の番号とか色々知りたい人"
hr/
h3 = "機能、特徴"
ol
  li = "保管台に関して必要な情報が一目瞭然"
  li = "店舗の倉庫一覧が見れる"
  li = "この台あったっけって時の検索機能"
  li = "それぞれの台の管理番号が即座にわかる"
hr/
h3 = "今後のアップデート予定"
ol
  li  = "現在店舗に設置してある台も同じように管理したい。(1回やると撤去時とか部品発注がものすごく楽)"