@import "bootstrap";
@import "index";
@import "btn";
@import "flash";
@import "link";
@import "error";
@import "top";
@import "font-awesome-sprockets";
@import "font-awesome";


body{
  width: 100%;
  margin: auto;
  text-align: center;
}
.container-header {
  text-align: center;
}

.header-operator{
  font-size: 15px;
  margin-left: 30px;
  width: 100%;
}


.flex{
  display: flex;
}

.small-font{
  font-size: 13px;
  text-align: left;
}

.more-small-font{
  font-size: 8px;
  text-align: left;
}

.big-font{
  font-size: 30px;
}

.cer{
  font-size:  18px;
  text-align: center;
}

.list{
  width: 100%
}

// ==========BOOTSTRAPオーバーライド===========

.table{
  font-size: 14px;
  width: 100%;
}
.form-group{
  text-align: center;
  margin: 20px;
}

// ==================モーダル==================
.modal-dialog-fluid {
  max-width: inherit;
  margin-top: 30px;
  width: 98%;
  margin: auto;
}

.modal-dialog-small {
  max-width: inherit;
  margin-top: 30px;
  width: 35%;
  margin: auto;
}

.close{
  font-size: 35px;
}

hr {
  height: 8px;
  background-image: repeating-linear-gradient(45deg, #ccc 0, #ccc 1px, transparent 0, transparent 50%), repeating-linear-gradient(135deg, #ccc 0, #ccc 1px, transparent 0, transparent 50%);
  background-size: 8px 8px;
}

.pad-mobile{
  padding: 0 6px;
  margin: 0px;
}

.mobile-table-show{
  font-size: 12px;
  margin-right: 10px;
}

.icon{
  margin-left: 4px;
}

.img-size{
  width: 300px;
  height: 200px;
}

@media (min-width: 500px) and (max-width:1250px) {
  .img-size{
    width: 500px;
    height: 350px;
  }
}

@media screen and (max-width:500px){
  
  .modal-dialog-small{
    width: 100%;
  }
  
  .form-group-mobile{
    margin-top: 10px;
  }
  

}