@import "bootstrap";
@import "index";
@import "btn";
@import "flash";
@import "link";
@import "font-awesome-sprockets";
@import "font-awesome";


body{
  width: 100%;
  margin: auto;
  text-align: center;
}
.container-header {
  text-align: center;
}

.header-operator{
  font-size: 15px;
  margin-left: 30px;
  width: 100%;
}


.flex{
  display: flex;
}

.small-font{
  font-size: 13px;
  text-align: left;
}

.more-small-font{
  font-size: 8px;
  text-align: left;
}

.big-font{
  font-size: 30px;
}

.cer{
  font-size:  18px;
  text-align: center;
}

.list{
  width: 100%
}

// ==========BOOTSTRAPオーバーライド===========

.table{
  font-size: 14px;
  width: 100%;
}
.form-group{
  text-align: center;
  margin: 20px;
}

// ==================モーダル==================
.modal-dialog-fluid {
  max-width: inherit;
  margin-top: 30px;
  width: 98%;
  margin: auto;
}

.modal-dialog-small {
  max-width: inherit;
  margin-top: 30px;
  width: 35%;
  margin: auto;
}

.close{
  font-size: 35px;
}

// ==============エラーメッセージ==============

.message{
  border: 1px solid red;
  width: 30%;
  margin: auto;
}


.message ul li{
  text-align: left;
}

// ==============トップページ==============
.image_flame{
  display: flex;
}

.image_show{
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: 5px;
}

.image{
  margin-top: 20px;
}
.under-blue {
  background: linear-gradient(transparent 30%, #007bff 70%);
  width: 90%;
  margin: auto;
  padding-top: 10px;
  font-size: 18px;
}

.under-yellow {
  background: linear-gradient(transparent 30%, #ffd700 70%);
  width: 90%;
  margin: auto;
  padding-top: 10px;
}
// ==============トップページ==============


hr {
  height: 8px;
  background-image: repeating-linear-gradient(45deg, #ccc 0, #ccc 1px, transparent 0, transparent 50%), repeating-linear-gradient(135deg, #ccc 0, #ccc 1px, transparent 0, transparent 50%);
  background-size: 8px 8px;
}

.disabled{
  color: inherit;
  text-decoration:none;
  &:hover{
    color: inherit;
    text-decoration:none;
  }
}

.link-primary{
  @include link-custom;
  color: #007bff;
  border: 2px solid #007bff;
  margin-top: 5px;
  &:hover{
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
  }
}

.link-warning{
  @include link-custom;
  color: #ffd700;
  border: 2px solid #ffd700;
  margin-top: 5px;
  &:hover{
    color: #fff;
    background-color: #ffd700;
    text-decoration: none;
  }
}

.link-danger{
  @include link-custom;
  color: #dc3545;
  border: 2px solid #dc3545;
  margin-top: 5px;
  &:hover{
    color: #fff;
    background-color: #dc3545;
    text-decoration: none;
  }
}

.pad0{
  padding: 0 5px;
  margin-right: 40px;
}

.pad-mobile{
  padding: 0 6px;
  margin: 0px;
}

.mobile-table-show{
  font-size: 12px;
  margin-right: 10px;
}

.icon{
  margin-left: 4px;
}

@media screen and (max-width:500px){
  .under-blue{
    font-size:18px;
    background: linear-gradient(transparent 40%, #007bff 70%);
  }
  
  .under-yellow{
    font-size:18px;
    background: linear-gradient(transparent 40%, #ffd700 70%);
  }
  
  .modal-dialog-small{
    width: 100%;
  }
  
  .form-group-mobile{
    margin-top: 10px;
  }
}

// 編集
// i.fas fa-edit