@import "bootstrap";

body{
  text-align: center;
}


.header-container{
  width: 100%;
  text-align: left;
  margin-left:  20px;
  display: inline-block;
}

.header{
  margin-left:  20px;
}
  

.header-operator{
  font-size: 20px;
  margin-left: 30px;
}

.container-header {
  border-bottom: 1px solid grey;
}
.flex{
  display: flex;
}

.small-font{
  font-size: 13px;
  text-align: left;
}

.big-font{
  font-size: 30px;
}

.cer{
  font-size: 20px;
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}

// ==========BOOTSTRAPオーバーライド===========

.btn{
  padding: 2px 10px;
}


.form-group{
  text-align: center;
  margin: 20px;
}

// ==================モーダル==================
.modal-dialog-fluid {
  max-width: inherit;
  margin-top: 30px;
  width: 80%;
}